@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap");
*:before,
*:after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  color: #0f0f0f;
  overflow-x: hidden;
  background: #f0f0f0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
