nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  background: #deb72c;
  color: #0f0f0f;
}

nav h3 {
  font-size: 1.75rem;
}

nav .logo-container img {
  height: 100px;
}

.dark nav {
  background: #4252dd;
  color: #f0f0f0;
}
